// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2023 Arseniy Velikanov <adomerlee@gmail.com>
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/clock/mt6765-clk.h>
#include <dt-bindings/phy/phy.h>

/ {
    compatible = "mediatek,mt6765";
    interrupt-parent = <&sysirq>;
    #address-cells = <2>;
    #size-cells = <2>;

    psci {
        compatible = "arm,psci-1.0";
        method = "smc";
    };

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;

        cpu0: cpu@0 {
            device_type = "cpu";
            compatible = "arm,cortex-a53";
	        reg = <0x000>;
            enable-method = "psci";
        };

        cpu1: cpu@1 {
            device_type = "cpu";
            compatible = "arm,cortex-a53";
	        reg = <0x001>;
            enable-method = "psci";
        };

        cpu2: cpu@2 {
            device_type = "cpu";
            compatible = "arm,cortex-a53";
            enable-method = "psci";
            reg = <0x002>;
        };

        cpu3: cpu@3 {
            device_type = "cpu";
            compatible = "arm,cortex-a53";
	        reg = <0x003>;
            enable-method = "psci";
        };

        cpu4: cpu@100 {
            device_type = "cpu";
            compatible = "arm,cortex-a53";
	        reg = <0x100>;
            enable-method = "psci";
        };

        cpu5: cpu@101 {
            device_type = "cpu";
            compatible = "arm,cortex-a53";
	        reg = <0x101>;
            enable-method = "psci";
        };

        cpu6: cpu@102 {
            device_type = "cpu";
            compatible = "arm,cortex-a53";
	        reg = <0x102>;
            enable-method = "psci";
        };

        cpu7: cpu@103 {
            device_type = "cpu";
            compatible = "arm,cortex-a53";
	        reg = <0x103>;
            enable-method = "psci";
        };
    };

    cpu-map {
        cluster0 {
            core0 {
                cpu = <&cpu0>;
            };
            core1 {
                cpu = <&cpu1>;
            };
            core2 {
                cpu = <&cpu2>;
            };
            core3 {
                cpu = <&cpu3>;
            };
        };

        cluster1 {
            core0 {
                cpu = <&cpu4>;
            };
            core1 {
                cpu = <&cpu5>;
            };
            core2 {
                cpu = <&cpu6>;
            };
            core3 {
                cpu = <&cpu7>;
            };
        };
    };

    chosen {
        #address-cells = <2>;
        #size-cells = <2>;
        ranges;

        /*
         * FIXME: drop clk_ignore_unused, keeps getting watchdog rebooted without it for now!
         */
        bootargs = "clk_ignore_unused";
    };

    reserved-memory {
        #address-cells = <2>;
        #size-cells = <2>;
        ranges;

        atf_mem: memory@54600000 {
            reg = <0 0x54600000 0 0x50000>;
            no-map;
        };
    };

    memory@40000000 {
        device_type = "memory";
        /* We expect the bootloader to fill in the reg */
        reg = <0 0x40000000 0 0>;
    };

    timer {
        compatible = "arm,armv8-timer";
        interrupt-parent = <&gic>;
        interrupts = <GIC_PPI 13 IRQ_TYPE_LEVEL_LOW>,
                     <GIC_PPI 14 IRQ_TYPE_LEVEL_LOW>,
                     <GIC_PPI 11 IRQ_TYPE_LEVEL_LOW>,
                     <GIC_PPI 10 IRQ_TYPE_LEVEL_LOW>;
    };

    soc {
        #address-cells = <2>;
        #size-cells = <2>;
        compatible = "simple-bus";
        ranges;

        gic: interrupt-controller@0c000000 {
            compatible = "arm,gic-v3";
            reg = <0 0x0c000000 0 0x40000>,  /* GICD */
                  <0 0x0c100000 0 0x20000>;  /* GICR */
            #interrupt-cells = <3>;
            interrupt-parent = <&gic>;
            interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;
            interrupt-controller;
        };

        topckgen: syscon@10000000 {
            compatible = "mediatek,mt6765-topckgen", "syscon";
            reg = <0 0x10000000 0 0x1000>;
            #clock-cells = <1>;
        };

        infracfg: syscon@10001000 {
            compatible = "mediatek,mt6765-infracfg", "syscon";
            reg = <0 0x10001000 0 0x1000>;
            interrupts = <GIC_SPI 147 IRQ_TYPE_EDGE_RISING>;
            #clock-cells = <1>;
        };

        pericfg: pericfg@10003000 {
            compatible = "mediatek,mt6765-pericfg", "syscon";
            reg = <0 0x10003000 0 0x1000>;
        };

        usb2: usb@11200000 {
            compatible = "mediatek,mtk-musb";
            reg = <0 0x11200000 0 0x1000>;
            interrupts = <GIC_SPI 73 IRQ_TYPE_LEVEL_LOW>;
            interrupt-names = "mc";
            clocks = <&topckgen CLK_TOP_AXI_SEL>,
                     <&topckgen CLK_TOP_AXI_SEL>,
                     <&topckgen CLK_TOP_UNIVPLL3_D4>;
            clock-names = "main", "mcu", "univpll";
            phys = <&u2port PHY_TYPE_USB2>;
            dr_mode = "peripheral";
        };

        u2phy: t-phy@11210000 {
            compatible = "mediatek,mt6765-tphy",
                         "mediatek,generic-tphy-v1";
            reg = <0 0x11210000 0 0x800>;
            #address-cells = <2>;
            #size-cells = <2>;
            ranges;

            u2port: usb-phy@11210800 {
                reg = <0 0x11210800 0 0x100>;
                clocks = <&topckgen CLK_TOP_USB20_192M_D4>;
                clock-names = "ref";
                #phy-cells = <1>;
            };
        };

        sysirq: intpol-controller@10200a80 {
            compatible = "mediatek,mt6577-sysirq";
            reg = <0 0x10200a80 0 0x50>; /* INTPOL */
            #interrupt-cells = <3>;
            interrupt-parent = <&gic>;
            interrupt-controller;
        };
    };
};
